<div class="wrapper">
  <div class="input_area">
    <input type="text" placeholder="이름 입력" #input_name/>
    <input type="text" placeholder="나이 입력" #input_age/>
    <input type="text" placeholder="직업 입력" #input_job/>
    <input type="button" value="등록" (click)="regist(input_name.value , input_age.value ,input_job.value)"/>
  </div>
  <div class="list_area" id="box">

    <ul class="list_style" *ngFor="let pro of profiles" (click)="getDetail(pro.profile_id)">
      <li>{{pro.name}}</li>
      <li>{{pro.age}}</li>
      <li>{{pro.job}}</li>
    </ul>


  </div>
  <div class="detail_area">
    <input type="hidden" value="{{p}}"/>
    <input type="text" value="{{n}}"/>
    <input type="text" value="{{a}}"/>
    <input type="text" value="{{j}}"/>

    <input type="button" value="삭제" (click)="del(p)"/>
    <input type="button" value="수정" (click)="edit(p,n,a,j)"/>
  </div>
</div>